# تجاهل البيئة الوهمية (هاد أهم سطر لحل مشكلة التعليق والرفع)
venv/

# تجاهل الملفات المؤقتة تبع بايثون
__pycache__/
*.pyc
*.pyo
*.pyd

# تجاهل قاعدة البيانات المحلية (أفضل أمنياً ولتخفيف حجم الرفع)
db.sqlite3

# تجاهل ملفات بيئة العمل والفيجوال ستوديو
.vscode/
.env